%h1 Ready to Move?
%h3 Finding a place sucks, have us find it for you.

%h5 Steps
%ul
  %li
    Go on
    = link_to 'CraigsList', 'http://www.craigslist.com'
    And filter the location/price of your search as much as possible (you will be grabbing this link)
  %li Write Email to send when we find a place
  %li Once you enter the information we will search the properties and send an email every hour for 7 days.
