%h2 Finding a place sucks, have us find it!

%h5 How to start:
%ul
  %li Create an account with Google OAuth
  %li
    Go on
    = link_to 'CraigsList', 'http://www.craigslist.com'
    And filter the location/price of your search as much as possible (you will be grabbing this link)
  %li Write Email to send when we find a place
  %li Once you enter the information we will search the properties and send an email every hour for 7 days.


%h5 Need to stop?
%p Just remove the subject or message and we will stop sending emails.
